---
---

<nav class="catalog-tabs" id="catalog-tabs" aria-label="Catalogue" hidden>
  <div class="catalog-tabs__list" role="tablist">
    <button
      type="button"
      class="catalog-tabs__tab is-active"
      role="tab"
      id="tab-vins"
      data-catalog="vins"
      aria-selected="true"
      aria-controls="catalog"
    >
      Vins
    </button>
    <button
      type="button"
      class="catalog-tabs__tab"
      role="tab"
      id="tab-spiritueux"
      data-catalog="spiritueux"
      aria-selected="false"
      aria-controls="catalog"
    >
      Spiritueux
    </button>
  </div>
</nav>
